name: Report OTA PR
on:
    workflow_run:
        workflows: ['Check OTA PR']
        types:
            - completed

permissions:
    contents: read
    pull-requests: write
    actions: read

jobs:
    report-ota-pr:
        runs-on: ubuntu-latest
        # should never be anything else...
        if: |
            github.event.workflow_run.event == 'pull_request'
        steps:
            - uses: actions/checkout@v5

            - uses: pnpm/action-setup@v4

            - uses: actions/setup-node@v5
              with:
                  node-version: 24
                  registry-url: https://registry.npmjs.org/
                  cache: pnpm

            - name: Install dependencies
              run: pnpm i --frozen-lockfile

            - name: Build
              run: pnpm run build

            - name: Check OTA PR
              uses: actions/github-script@v8
              with:
                  script: |
                      const {reportOtaPR} = await import("${{ github.workspace }}/dist/ghw_report_ota_pr.js")

                      await reportOtaPR(github, core, context)
