name: Run daily auto download
on:
    schedule:
        - cron: '0 12 * * *'

permissions:
    contents: write

jobs:
    run-autodl:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5

            - uses: pnpm/action-setup@v4

            - uses: actions/setup-node@v5
              with:
                  node-version: 24
                  registry-url: https://registry.npmjs.org/
                  cache: pnpm

            - name: Install dependencies
              run: pnpm i --frozen-lockfile

            - name: Build
              run: pnpm run build

            - name: Run Autodl
              uses: actions/github-script@v8
              env:
                  NODE_EXTRA_CA_CERTS: cacerts.pem
              with:
                  script: |
                      const {runAutodl} = await import("${{ github.workspace }}/dist/ghw_run_autodl.js")

                      await runAutodl(github, core, context, "inovelli")

            - name: Commit changes
              run: |
                  git config --global user.name 'github-actions[bot]'
                  git config --global user.email 'github-actions[bot]@users.noreply.github.com'
                  git add .
                  git commit -m "Daily autodl update" || echo 'Nothing to commit'
                  git push
