name: Update manifests
on:
    push:
        branches: [master]
        paths: ['images/**']

permissions:
    contents: write
    pull-requests: read

# Limit concurrency per branch to prevent push issues.
concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: false

jobs:
    update-manifests:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5

            - uses: pnpm/action-setup@v4

            - uses: actions/setup-node@v5
              with:
                  node-version: 24
                  registry-url: https://registry.npmjs.org/
                  cache: pnpm

            - name: Install dependencies
              run: pnpm i --frozen-lockfile

            - name: Build
              run: pnpm run build

            - name: Pull before updating manifest
              run: |
                  git pull

            - name: Update manifests
              uses: actions/github-script@v8
              with:
                  script: |
                      const {updateManifests} = await import("${{ github.workspace }}/dist/ghw_update_manifests.js")

                      await updateManifests(github, core, context)

            - name: Commit changes on push
              run: |
                  git config --global user.name 'github-actions[bot]'
                  git config --global user.email 'github-actions[bot]@users.noreply.github.com'
                  git add .
                  git commit -m "Update after PR with OTA images merged" || echo 'Nothing to commit'
                  git pull --rebase
                  git push
